.onOfItems {
    display: flex;

}

.onOfItems .square {
    width: 70px;
    height: 35px;
    margin: 5px;
    background-color: red;
}

.onOfItems .circle {
    width: 25px;
    height: 25px;
    margin: 5px;
    border-radius: 50%;
    background-color: red;
}

.onOfItems .on {
    background-color: green;
}